.main-header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.header-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
}
a  {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}