.main-header{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.header-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
}
a  {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.intro-section {
    height: 30vh ;
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-evenly;
    align-items: center;
    color: white;

    
    
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    
    
}

button {
    padding: 0.1rem 0.3rem;
    display: block;
    border-radius: 5rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.intro-btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.ex-btn {
    background-color: yellow;
    color: black;

}

.intro-right {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: 80%;
    width: 15%;
    font-size: 80%;
    padding: 0 0.5rem;
}

.learning-section {
    height: 60vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

.txt-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 17rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card{
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: 80%;
    width: 20%;
    padding: 1rem .5rem;
    
}