.main-header{
    background-color: rgb(82, 60, 113);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    color: white;
}

.header-logo {
    width: 30%;
    height: 90%;
    border-radius: 50%;
}

.logo-container {
    
    height: 100%;
    width : 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

a  {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.intro-section {
    height: 45vh ;
    display: flex;
    flex-direction: row;
    background-color: rgb(175, 134, 195);
    justify-content: center;
    align-items: center;
    color: white;

    
    
}
.intro-container{

    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    
    
}

button {
    padding: 0.1rem 0.3rem;
    display: block;
    border-radius: 5rem;
    font-size: 0.9rem;
    cursor: pointer;
    
    
}


.intro-btn-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 2.5rem;
    
}

.ex-btn {
    background-color: rgb(121, 87, 129);
    color: white;
    border: none;
    

}
.more-btn {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    
}
.intro-right {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 87, 129);
    color: white;
    border-radius: 1rem;
    height: auto;
    width: 30%;
    box-shadow: 0 4px 10px rgb(67, 48, 71,0.4);
    padding: 2rem 1.5rem;
}

.learning-section {
    height: 70vh;
    background-color:  rgb(240, 227, 243);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
    
}

.txt-learning {
    width: 85%;
    height: auto;
    margin: 3rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    
    
}
.txt-learning h2{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
.txt-learning p{
    width: 60%;
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 2rem;
    
}
.card{
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: auto;
    width: 28%;
    padding: 1.5rem 1rem;
    box-shadow: 0 4px 10px rgba(180, 169, 182, 0.5);
    
}
.method-section {
    height: 40vh;
    background-color:  rgb(223, 212, 240);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.method-container{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}
.txt-method {
    width: 55%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    
}
.box-method {
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: auto;
    width: 35%;
    margin-left: 0 ;
    padding: 1.5rem 1rem;
    
    box-shadow: 0 4px 10px  rgb(178, 169, 192);
    
    
    
}

.form-section {
    
    background-color:  rgb(240, 227, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.form{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 100%;
    
}

.form-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    
    background-color: white;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(180, 169, 182, 0.5);
    align-items: flex-start;
    padding: 2rem 5%;
    margin: 0 auto 2rem auto;

    
}

label{
    color : rgb(111, 100, 121);
}
input{
    padding: 1rem 1rem;
    border: 1px solid #d0d5dd;
    border-radius: 0.5rem;
    resize: vertical;
}

input[id="email"]{
    height: 3rem;

    
}
input[id ="nom"]{
    height: 2rem;

    
}
textarea {
    padding: 1rem 1rem;
    border: 1px solid #d0d5dd;
    border-radius: 0.5rem;
    resize: none;
    min-height: 8rem;
}
.label-input{
    display: flex;
    flex-direction: column;
}
input[type="submit"]{

    width: 30%;
    border-radius: 2rem;
    color:  white;
    background-color: rgb(121, 87, 129);
    padding: 0.8rem 1rem;
    margin-top: 1.5rem;
    align-self:  flex-start;
}

.form-text{
    display: flex ;
    flex-direction: column;
    
    
    width: 85%;
    margin-bottom: 0 auto 2rem auto;
}






footer {
    height: 10vh;
     background-color: rgb(82, 60, 113);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

input, 
textarea,
select,
button {
    font-family: inherit; 
    font-size: 1rem; 
}