
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    
}
a  {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
}

button {
    padding: 0.1rem 0.3rem;
    display: block;
    border-radius: 5rem;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    
    
}

input, 
textarea,
select,
button {
    font-family: inherit; 
    font-size: 1rem; 
}


.main-header{
    background-color: rgb(82, 60, 113);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    color: white;
}

.header-logo {
    width: 30%;
    height: 90%;
    border-radius: 50%;
}

.logo-container {
    
    height: 100%;
    width : 10rem;
    display: flex;
    
    align-items: center;

}



.intro-section {
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 134, 195);
    color: white;
    padding: 2rem 0;

    
    
}
.intro-container{

    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.intro-left,.intro-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    flex-grow: 1;
    min-width:300px;
    
    
}

.intro-right { 
    background-color: rgba(121, 87, 129);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgb(67, 48, 71,0.4);
    padding: 2rem 1.5rem;
    
    
}

.intro-btn-container {
    display: flex;
    gap: 2rem;
    height: 2.5rem;
    
}

.ex-btn {
    background-color: rgb(121, 87, 129);
    color: white;
    

}
.more-btn {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    
}


.learning-section {
    min-height: 50vh;
    background-color:  rgb(240, 227, 243);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem 0;
    
    
    
}

.txt-learning {
    width: 85%;
    margin: 0 auto 2rem auto;
    text-align: left;
    
    
    
}
.txt-learning h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.txt-learning p{
    font-size: 1.1rem;
    line-height: 1.4;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    
    
    
}
.card{
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: auto;
    width: 30%;
    min-width: 250px;
    padding: 1.5rem 1rem;
    box-shadow: 0 4px 10px rgba(180, 169, 182, 0.5);
    margin-bottom: 1.5rem;
    
    
}
.method-section {
    height: 40vh;
    background-color:  rgb(223, 212, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    
}

.method-container{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.txt-method,.box-method {
    width: 45%;
    flex-grow: 1;
    min-width: 300px;
    
}
.box-method {
    
    background-color: white;
    color: black;
    border-radius: 1rem;
    
    padding: 1.5rem 1rem;
    
    box-shadow: 0 4px 10px  rgb(178, 169, 192);
    
    
    
}

.form-section {
    
    background-color:  rgb(240, 227, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.form-text{
    width: 85%;
    margin-bottom: 0 auto 2rem auto;
}
.form{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
}

.form-container {
    width: 75%;
    min-width: 300px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(180, 169, 182, 0.5);
    padding: 2rem 5%;
    margin: 0 auto ;

    
}

label{
    color : rgb(111, 100, 121);
    margin-bottom: 0.3rem;
}
input,textarea{
    padding: 1rem ;
    border: 1px solid #d0d5dd;
    border-radius: 0.5rem;
}



.label-input{
    display: flex;
    flex-direction: column;
}
input[type="submit"]{

    width: 30%;
    min-width: 150px;
    border-radius: 2rem;
    color:  white;
    background-color: rgb(121, 87, 129);
    padding: 0.8rem 1rem;
    margin-top: 1.5rem;
    align-self:  flex-start;
}








footer {
    height: 10vh;
     background-color: rgb(82, 60, 113);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

