.main-header{
    background-color: rgb(82, 60, 113);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    color: white;
}

.header-logo {
    width: 30%;
    height: 90%;
    border-radius: 50%;
}

.logo-container {
    
    height: 100%;
    width : 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

a  {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.intro-section {
    height: 40vh ;
    display: flex;
    flex-direction: row;
    background-color: rgb(175, 134, 195);
    justify-content: space-evenly;
    align-items: center;
    color: white;

    
    
}

.intro-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    
    
}

button {
    padding: 0.1rem 0.3rem;
    display: block;
    border-radius: 5rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.intro-btn-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 2.5rem;
    
}

.ex-btn {
    background-color: rgb(121, 87, 129);
    color: white;

}
.more-btn {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.intro-right {
    display: flex;
    flex-direction: column;
    background-color: rgba(121, 87, 129);
    color: white;
    border-radius: 1rem;
    height: 75%;
    width: 20%;
    
    padding: 0 0.5rem;
}

.learning-section {
    height: 60vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

.txt-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 17rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card{
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: 80%;
    width: 20%;
    padding: 1rem .5rem;
    
}
.method-section {
    height: 30vh;
    background-color: powderblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.txt-method {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    
}
.box-method {
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: 60%;
    width: 30%;
    margin-left: 2rem;
    padding: 1rem .5rem;
    
    
    
}

.form-section {
    height: 60vh;
    background-color: rgb(125, 125, 125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 80%;
}

.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 60%;
    background-color: white;
    border-radius: 1rem;
    justify-content: center;
    
}

footer {
    height: 10vh;
    background-color: rgb(63, 8, 139);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}